%form{:method => 'POST', :action => @page.edit_url}
  %p
    %textarea{:name => 'content', :rows => 25, :cols => 80}~ @page.content
  %p
    %input{:type => :text, :name => 'msg', :size => 65}
    %input{:type => :submit, :value => "Commit"}
